.admin{
  height: fit-content; 
  .adminWrapper{
    width: 90%; 
    margin: 0% auto; 
    height: fit-content; 
    padding: 25px; 
    margin-top: 50px;
    .adminItem{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%; 
      height: fit-content;
      border-bottom: 1px solid black; 
      padding: 20px;
     
    
      img{
        width: 100px;
        height: 50px;
      }
  


    }

 

  
   

  }
} 

.adminModal{

  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
 
  background: rgb(0,0,0,0.4); 
  display: flex; 
  align-items: center; 
  justify-content: center;

  .adminWrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: fit-content;
   
    padding: 50px;
    background: white; 
    border-radius: 12px;
    
    
  }

}

.colorModal {
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgb(0,0,0,0.4); 
  display: flex;
  align-items: center; 
  justify-content: center; 
  .addNewColorModalWrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: fit-content;
    padding: 50px;
    background: white; 
    border-radius: 12px;
    z-index: 2;
    // form{
    //   input{
      
    //   }
    // }
    
  }

  
}

.coatingModal {
 
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgb(0,0,0,0.4); 
  display: flex;
  align-items: center; 
  justify-content: center; 
  .coatingWrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: fit-content;
    padding: 50px;
    background: white; 
    border-radius: 12px;
    z-index: 2;
    // form{
    //   input{
      
    //   }
    // }
    
  }
    // form{
    //   input{
      
    //   }
    // }
    
  }


.addItem{
  width: 80%;
  margin: 0% auto;
  padding: 25px;
  margin-top: 25px;

} 





.active-color{
  background: url('/arrow.svg');
  background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 2px solid rgb(173, 169, 169);
    
    
}

.active-coating {
  background-color:  #c5e500; 
   

}