.catalog_page {
  /* max-width: 2560px; */
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  position: relative;
  background-color: #f2f2f2;
}

.catalog_page .catalog_page_mask {
  width: 100%;
  height: 341px;
  background-image: url(/MaskCtalogPage.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 21px 122px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}

.catalog_page .catalog_page_mask h1 {
  font-family: "Steppe";
  font-size: 53px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}

.catalog_page .catalog_page_mask p {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}

.catalog_page .catalogFilter {
  padding: 32px 120px;
}

.catalog_page .catalogFilter .metalInfo {
  width: 100%;
  border-bottom: 1px solid #777777;
  padding-bottom: 32px;
  font-family: "Inter";
  font-size: 27px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.catalog_page .catalogFilter .metalInfo b {
  font-family: "Inter";
  font-size: 27px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.catalog_page .catalogFilter .FilteredProducts {
  display: flex;
  gap: 35px;
  position: relative;
}

.catalog_page .catalogFilter .FilteredProducts .FilterOptionsMain {
  display: flex;
  flex-direction: column;
  /* position: sticky; */
  /* top: 100px; */
  height: fit-content;
  /* z-index: 999; */
}

.catalog_page .catalogFilter .FilteredProducts .FilterOptionsMain .FilterModal {
  display: block;
}

.catalog_page
  .catalogFilter
  .FilteredProducts
  .FilterOptionsMain
  .FilterModal
  img {
  display: none;
}

.catalog_page
  .catalogFilter
  .FilteredProducts
  .FilterOptionsMain
  .FilterOptions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.catalog_page
  .catalogFilter
  .FilteredProducts
  .FilterOptionsMain
  .FilterOptions
  div {
  display: none;
  align-items: center;
  gap: 10px;
}

.catalog_page
  .catalogFilter
  .FilteredProducts
  .FilterOptionsMain
  .FilterOptions
  div
  span {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

.catalog_page
  .catalogFilter
  .FilteredProducts
  .FilterOptionsMain
  .FilterOptions
  p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}

.catalog_page .catalogFilter .FilteredProducts .FilterConteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 19px;
  /* height: 600px; */
  max-height: fit-content;
  padding: 26px 0;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  height: fit-content;
  grid-template-rows: 1fr;
}
.catalog_page .catalogFilter .FilteredProducts .FilterConteinerAddPlus {
  all: unset;
  cursor: pointer;
  display: block;
  background-image: url(/icons/Star5.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 80px;
  padding: 10px 40px;
  font-family: "Inter";
  font-size: 11px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
}

.catalog_page
  .catalogFilter
  .FilteredProducts
  .FilterConteiner::-webkit-scrollbar {
  display: none;
}

.radioBtns {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 11px;
}

.radioBtns p {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}

.colorCont .color {
  cursor: pointer;
}

.but {
  width: 22px;
  height: 25px;
  background-image: url(/icons/border_radio.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.change {
  width: 14px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/icons/button_true.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
}
.activeChange {
  opacity: 1;
}
.change2 {
  width: 14px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/icons/button_true.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
}

.change3 {
  width: 14px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/icons/button_true.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
}
.colorCont {
    display: flex;
    flex-direction: column;
  }


.colorActive {
    opacity: 1;
  
  }
  
  .colorName {
    font-family: "Inter";
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  }
 .colorActive::after {
    content: "";
    position: absolute;
    opacity: 1;
    width: 20px;
    height: 16px;
    background-image: url(/icons/arrow.svg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

@media only screen and (min-width: 1713px) {
  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1978px) {
  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 2247px) {
  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (min-width: 2561px) {
  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 1440px) {
  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner {
    width: 100%;
  }

  .catalog_page .catalogFilter {
    padding: 32px 50px;
  }

  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner .Goods_item {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1305px) {
  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner {
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog_page .catalogFilter {
    padding: 32px 50px;
  }

  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner .Goods_item {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1024px) {
  .catalog_page .catalog_page_mask {
    width: 100%;
    height: 310px;
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    padding: 21px 122px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
  }

  .catalog_page .catalogFilter .FilteredProducts {
    display: flex;
    gap: 15px;
  }

  .catalog_page .catalogFilter .metalInfo b {
    font-family: "Inter";
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0;
    text-align: left;
  }

  .catalog_page .catalogFilter .metalInfo {
    width: 100%;
    border-bottom: 1px solid #777;
    padding-bottom: 32px;
    font-family: "Inter";
    font-size: 19px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0;
    text-align: left;
  }
}

@media only screen and (max-width: 920px) {
  .catalog_page .catalogFilter {
    padding: 32px 0;
  }

  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 880px) {
  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner .Goods_item {
    width: 240px;
  }
}

@media only screen and (max-width: 768px) {
  .catalog_page
    .catalogFilter
    .FilteredProducts
    .FilterConteiner
    .Goods_item:hover {
    height: 100%;
  }

  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner .Goods_item {
    height: 100%;
  }

  .catalog_page
    .catalogFilter
    .FilteredProducts
    .FilterConteiner
    .Goods_item
    .Optins {
    height: fit-content;
    opacity: 1;
  }

  .catalog_page .catalog_page_mask {
    width: 100%;
    height: 225px;
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    padding: 21px 122px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
  }

  .catalog_page .catalogFilter {
    padding: 32px 50px;
  }

  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 13px;
    height: 431px;
    padding: 26px 0;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
  }

  .catalog_page .catalogFilter .FilteredProducts {
    flex-direction: column;
  }

  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner {
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner .Goods_item {
    margin: 0 auto;
    width: 100%;
  }

  .catalog_page
    .catalogFilter
    .FilteredProducts
    .FilterOptionsMain
    .FilterOptions
    div {
    display: flex;
  }

  .catalog_page
    .catalogFilter
    .FilteredProducts
    .FilterOptionsMain
    .FilterOptions {
    justify-content: space-between;
  }

  .catalog_page
    .catalogFilter
    .FilteredProducts
    .FilterOptionsMain
    .FilterModal {
    position: fixed;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    padding: 50px;
    max-height: 100%;
    overflow-y: scroll;
  }

  .catalog_page
    .catalogFilter
    .FilteredProducts
    .FilterOptionsMain
    .FilterModal
    .CloseFilterModal {
    width: 28px;
  }

  .catalog_page
    .catalogFilter
    .FilteredProducts
    .FilterOptionsMain
    .FilterModal
    .CloseFilterModal {
    display: block;
  }

  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner {
    height: fit-content;
    grid-gap: 20px;
  }

  .catalog_page
    .catalogFilter
    .FilteredProducts
    .FilterOptionsMain
    .FilterModal {
    display: none;
  }
}

@media only screen and (max-width: 744px) {
  .catalog_page .catalogFilter {
    padding: 32px;
  }

  .catalog_page .catalog_page_mask {
    padding: 32px;
  }

  .catalog_page .catalog_page_mask h1 {
    font-size: 40px;
  }

  .catalog_page .catalogFilter .metalInfo {
    font-size: 15px;
  }

  .catalog_page .catalogFilter .metalInfo b {
    font-size: 18px;
  }
}

@media only screen and (max-width: 604px) {
  .catalog_page .catalog_page_mask {
    background-size: 160%;
  }



  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner .Goods_item {
    padding: 19px 10px;
  }
}

@media only screen and (max-width: 556px) {
  .catalog_page .catalog_page_mask {
    background-size: 190%;
    padding: 0 0 32px 12px;
  }

  .catalog_page .catalogFilter {
    padding: 32px 12px;
  }
}

@media only screen and (max-width: 524px) {
  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner {
    gap: 0px;
  }
}

@media only screen and (max-width: 511px) {
  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 10px;
  }

  .catalog_page
    .catalogFilter
    .FilteredProducts
    .FilterOptionsMain
    .FilterModal {
    padding: 15px;
  }

  .catalog_page .catalogFilter .FilteredProducts .FilterConteiner .Goods_item {
    width: 280px;
  }
}

@media only screen and (max-width: 476px) {
  .catalog_page .catalog_page_mask {
    background-size: 211%;
  }


}

@media only screen and (max-width: 415px) {
  .catalog_page .catalog_page_mask {
    background-size: 240%;
  }

  .catalog_page .catalog_page_mask {
    background-size: 220%;
  }

  .catalog_page .catalog_page_mask h1 {
    font-size: 28px;
  }

  .catalog_page .catalog_page_mask p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 375px) {
  .catalog_page .catalog_page_mask {
    background-size: 270%;
  }
}
