#app {
  height: 100%;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  /* display: flex !important;
  flex-direction: column !important; */
}
.swiper-button-next::after {
  background-image: url(/next.svg);
  background-size: 200% 200%;
  background-position: center;
  color: transparent;
  background-repeat: no-repeat;
  width: 200px;
}
.swiper-button-prev::after {
  color: transparent;
  background-image: url(/prev.svg);
  background-size: 200% 200%;
  background-position: center;
  color: transparent;
  background-repeat: no-repeat;
  width: 200px;
}
.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
